extends ../layout

block content
    h1= title
    p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.
    h1 Dynamic content
    form(method='post' action='/users/create')
        div.col-md-6
            div.form-group
                //input(type='hidden' name='_method' value='patch')
                label(for='first_name') First Name :
                input#first_name.form-control(type='text' name='first_name' placeholder= 'John')
                label(for='first_name') Last Name :
                input#last_name.form-control(type='text' name='last_name' placeholder='Smith')
                label(for='first_name') Age :
                input#age.form-control(type='number' placeholder='21' name='age')
                label(for='first_name') Country :
                input#country.form-control(type='text' placeholder='country' name='country')

            button.btn.btn-primary(type='submit') Submit



    a.btn.btn-primary.mx-1(href='/users') Index