extends ../layout

block content
    h1= title
    p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.
    h1 Dynamic content
    form(method='post' action=user.editRoute)
        div.col-md-6
            div.form-group
                //input(type='hidden' name='_method' value='patch')
                label(for='first_name') First Name :
                input.form-control(type='text' placeholder='first name' name='first_name' id='first_name' value= user.first_name)
                label(for='first_name') Last Name :
                input.form-control(type='text' placeholder='last name' name='last_name' id='last_name' value= user.last_name)
                label(for='first_name') Age :
                input.form-control(type='number' placeholder='age' name='age' id='age' value= user.age)
                label(for='first_name') Country :
                input.form-control(type='text' placeholder='country' name='country' id='country' value= user.country)

            button.btn.btn-primary(type='submit') Submit



    a.btn.btn-primary.mx-1(href='/users') Index
    a.btn.btn-primary(href=user.showRoute) Show
