extends ../layout

block content
    h1= title
    p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

    h1 Dynamic content

    if error
        p Error getting dynamic content.
    else
        p The library has the following record counts:

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') First Name
                th(scope='col') Last Name
                th(scope='col') Age
                th(scope='col') Country
                th(scope='col') Actions
        tbody
            each user in users
                tr
                    td= user._id
                    td= user.first_name
                    td= user.last_name
                    td= user.age
                    td= user.country
                    td
                        a.btn.btn-primary(href=user.showRoute) Show
                        a.btn.btn-secondary.mx-1(href=user.editRoute) Update
                        form(method='post' action=user.deleteRoute)
                            button.btn.btn-danger(type='submit') Delete
    a.btn.btn-success(href='/users/create') Create