extends ../layout

block content
    h1= title
    p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

    h1 Dynamic content

    table.table
        thead
            tr
                th Field
                th Value
        tbody
            tr
                td first_name
                td= user.first_name
            tr
                td last_name
                td= user.last_name

            tr
                td age
                td= user.age
            tr
                td country
                td= user.country

    a.btn.btn-primary.mx-1(href='/users') Index
    a.btn.btn-secondary(href=user.editRoute) Edit
    form(method='post' action=user.deleteRoute)
        button.btn.btn-danger(type='submit') Delete
